.inputPopover{
    transform: translateY(-10px);
    height: 400px;
    overflow: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.inputPopover .el-table td,
.el-table th.is-leaf {
  border: none;
}
.inputPopover .el-table .el-table__row{
  cursor: pointer;
}
.inputPopover::-webkit-scrollbar{
  width: 4px;
}
.inputPopover .el-table::before{
  height: 0;
}
